name: Génération des statistiques de langages

on:
  schedule:
    # S'exécute toutes les nuits à minuit
    - cron: '0 0 * * *'
  workflow_dispatch: # Permet de lancer manuellement le script

jobs:
  update-stats:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout du dépôt
        uses: actions/checkout@v4

      - name: Générer les statistiques
        uses: anuraghazra/github-readme-stats@master # Ou une action similaire comme 'lowlighter/metrics'
        with:
          token: ${{ secrets.STATS_TOKEN }}
          # L'action va scanner vos dépôts privés grâce au secret
